<html>
	<head>
		<title>The Spoils Toolbox</title>
		<link rel="icon" type="image/png" href="/img/icons/universal.png">
		<style>
			body { margin: 0; }
			img { cursor: pointer; }
		</style>
	</head>

	<body></body>
	
	<script>
		var FADE_TIME = 500;
		var TICK_DURATION = 5;
		var DELTA_OPACITY = TICK_DURATION / FADE_TIME;
		
		function set_title() {
			var name = localStorage.getItem("name");
			
			if (name) {
				document.title += " - " + name;
			}
		}
		
		function set_content() {
			var proxies = JSON.parse(localStorage.getItem("proxies"));
			
			for (var i in proxies) {
				var img = create_image(i, proxies[i]);
				document.body.appendChild(img);
			}
		}
		
		function create_image(id, proxy) {
			var img = document.createElement("img");
			img.id = id;
			img.src = "/img/cards/" + proxy + ".jpg";
			img.title = "Click to remove";
			img.style.width = "222px";
			img.style.opacity = 1;
			img.ondragstart = function() {
				return false;
			}
			img.onclick = function() {
				var self = this;
				
				if (self.timer) {
					return;
				}
				
				self.timer = setInterval(function() {
					self.style.opacity -= DELTA_OPACITY;
					
					if (self.style.opacity <= 0) {
						document.body.removeChild(self);
						clearInterval(self.timer);
					}
				}, TICK_DURATION);
				
			}
			
			return img;
		}
		
		set_title();
		set_content();
	</script>
</html>
