<div v-el:modal id="card-modal" class="modal fade">
	<div class="modal-dialog card-modal">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ name }}</h4>
			</div>
			
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12">
						<div class="well" v-if="text">{{{ text | card-text }}}</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-6">
						<img id="modal-card-image" class="card-img img-rounded" v-if="id" :src="'/img/cards/' + id + '.jpg'">
					</div>
					
					<div class="col-xs-6">
						<table class="table table-condensed table-bordered">
							<tbody>
								<tr v-for="format in formats">
									<td width="75%">{{ format.name }}</td>
									<td :class="format.legal === 'Yes' ? 'text-success' : 'text-danger'">{{ format.legal }}</td>
								</tr>
							</tbody>
							<caption>Legality</caption>
						</table>

						<table class="table table-bordered table-condensed">
							<tbody>
								<tr v-for="entry in prices">
									<td width="75%">{{ entry.set }}</td>
									<td><a target="_blank" :href="entry.uri">{{ entry.price | price }}</a></td>
								</tr>
							</tbody>

							<caption>{{ caption }}</caption>
						</table>

						<p><small>Prices from <a target="_blank" href="https://en.spoilscardmarket.eu/">Spoils Cardmarket.eu</a></small></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
