<div v-el:modal id="confirm-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">{{ title }}</h3>
			</div>
			
			<div class="modal-body">{{{ body }}}</div>
			
			<div class="modal-footer">
				<div class="pull-right">
					<button :class="['btn', btn_class]" @click="confirm">{{ btn_text }}</button>
					<button class="btn btn-default" @click="cancel">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>