<div v-el:modal id="contact-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Contact</h4>
			</div>

			<form v-el:form id="contact-form" method="post" action="/contact" @submit.prevent="submit">
				<div class="modal-body">
					<p>I'm also on <a target="_blank" href="https://twitter.com/spoilstoolbox">Twitter</a>.</p>
					
					<div class="alert alert-info">
						<p><span class="glyphicon glyphicon-info-sign"></span>
						You can enter your email address if you'd like to receive a response.</p>
					</div>

					<div class="form-group">
						<label class="radio-inline">
							<input type="radio" name="subject" value="Problem" checked>Problem
						</label>
						<label class="radio-inline">
							<input type="radio" name="subject" value="Suggestion">Suggestion
						</label>
						<label class="radio-inline">
							<input type="radio" name="subject" value="Question">Question
						</label>
					</div>

					<div class="form-group">
						<label class="control-label" for="email">Your e-mail</label>
						<input name="email" type="text" class="form-control">
					</div>

					<div class="form-group">
						<label class="control-label" for="message">Your message</label>
						<textarea name="message" class="form-control no-resize" rows="10"></textarea>
					</div>
				</div>

				<div class="modal-footer">
					<submit-button v-ref:submit_button text="Send"></submit-button>
				</div>
			</form>
		</div>
	</div>
</div>