<div v-el:modal id="contribute-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Support Spoils Toolbox</h4>
			</div>
			
			<div class="modal-body">
				<p>If you have enjoyed using Spoils Toolbox and would like to contribute to the project, consider donating using any methods listed below. Thanks! :)</p>
				<br>
				<p>
					<a href="https://www.patreon.com/user?ty=h&u=3369930" target="_blank">
						<img style="width: 120px" src="https://s3.amazonaws.com/patreon_public_assets/toolbox/patreon.png">
						<p>Support with a monthly pledge</p>
					</a>
				</p>
				<br>
				<p>
					<a href="https://www.paypal.me/glurg" target="_blank">
						<img style="width: 120px" src="https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-200px.png">
						<p>Support with a one time donation</p>
					</a>
				</p>
				<br>
				<p>
					<a href="https://www.coinbase.com/glurg" target="_blank">
						<img style="width: 120px" src="/img/bitcoin-button.png">
						<p>Support with a one time donation</p>
					</a>
				</p>
				<hr>
				<h3>Special Thanks</h3>
				<ul>
					<li>Bizze (for providing valuable feedback and testing)</li>
					<li>Lekkit (for helping out with adding Ungodly Mess)</li>
				</ul>
			</div>
		</div>
	</div>
</div>