<div v-el:modal id="recover-account-modal" class="modal fade">
	<div class="modal-dialog modal-small">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Recover account</h4>
			</div>

			<form v-el:form id="recover-account-form" method="post" action="/account/recover" @submit.prevent="submit">
				<div class="modal-body">
					<div class="alert alert-info">
						<p><span class="glyphicon glyphicon-info-sign"></span> An email will be sent containing your username and a link where you will be able to set a new password.</p>
					</div>

					<div class="form-group">
						<label class="control-label" for="email_or_username">Email or Username</label>
						<input validate="email_or_username" type="text" name="email_or_username" class="form-control">
						<form-error for="email_or_username"></form-error>
					</div>
				</div>
			
				<div class="modal-footer">
					<submit-button v-ref:submit_button text="Recover"></submit-button>
				</div>
			</form>
		</div>
	</div>
</div>
