<div v-el:modal id="register-modal" class="modal fade">
	<div class="modal-dialog modal-small">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Registration</h4>
			</div>

			<form v-el:form id="registration-form" method="post" action="/account" @submit.prevent="submit">
				<div class="modal-body">
					<div class="form-group">
						<label class="control-label" for="email">Email</label>
						<div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
							<input validate="email" type="email" name="email" class="form-control">
						</div>
						<form-error for="email"></form-error>
					</div>

					<div class="form-group">
						<label class="control-label" for="username">Username</label>
						<div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
							<input validate="username" type="text" name="username" class="form-control">
						</div>
						<form-error for="username"></form-error>
					</div>

					<div class="form-group">
						<label class="control-label" for="password">Password</label>
						<div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
							<input validate="password" type="password" name="password" class="form-control">
						</div>
						<form-error for="password"></form-error>
					</div>
				</div>
			
				<div class="modal-footer">
					<submit-button v-ref:submit_button text="Register"></submit-button>
				</div>
			</form>
		</div>
	</div>
</div>
