<div v-el:modal id="sign-in-modal" class="modal fade">
	<div class="modal-dialog modal-small">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Sign in</h4>
			</div>

			<form v-el:form id="sign-in-form" method="post" action="/account/authenticate" @submit.prevent="submit">
				<div class="modal-body">
					<div class="form-group">
						<label class="control-label" for="username">Username</label>
						<div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
							<input validate="username" type="text" name="username" class="form-control">
						</div>
						<form-error for="username"></form-error>
					</div>

					<div class="form-group">
						<label class="control-label" for="password">Password</label>
						<div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
							<input validate="password" type="password" name="password" class="form-control">
						</div>
						<form-error for="password"></form-error>
					</div>
				</div>

				<div class="modal-footer">
					<submit-button v-ref:submit_button class="btn btn-primary pull-left" text="Sign in"></submit-button>
					<a id="recover-account-button" @click="open_recover_account" class="btn btn-default pull-right">Recover account</a>
				</div>
			</form>
		</div>
	</div>
</div>

<recover-account v-ref:recover_account></recover-account>