<div class="col-xs-2 col-xs-offset-2">
	<ul class="nav nav-pills nav-stacked">
		<li :class="active == 'recent' ? 'active' : ''"><a v-link="'/decks/recent'">Recent</a></li>
		<li :class="active == 'mine' ? 'active' : ''"><a v-link="'/decks/mine'">My decks</a></li>
		<li :class="active == 'search' ? 'active' : ''"><a v-link="'/decks/search'"><span class="glyphicon glyphicon-search"></span> Search</a></li>
	</ul>
</div>