<div>
	<navigation active="recent"></navigation>

	<div class="col-xs-4">
		<table class="table table-hover table-condensed">
			<tbody>
				<tr v-for="deck in decks">
					<td>
						<h4>
							<a v-link="'/deck-builder/' + deck.id">{{ deck.name }}</a>
							<span class="pull-right">{{{ deck.threshold | threshold }}}</span>
						</h4>

						<span class="text-muted pull-left">{{ deck.username }}</span>
						<time class="pull-right" :title="deck.published_at | time 'LLLL'">{{ deck.published_at | time-ago }}</time>
					</td>
				</tr>
			</tbody>
			<caption class="lead text-center" style="padding: 0">Recent Decks</caption>
		</table>
		
		<view-more path="/decks/recent" @result="viewmore"></view-more>
	</div>
</div>