<div>
	<navigation active="search"></navigation>
	
	<div class="col-xs-4">
		<form v-el:form id="search-form" method="post" action="/decks/search" @submit.prevent="submit">
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group pull-left" style="width: 48%">
						<label class="control-label" for="username">Username</label>
						<input class="form-control" type="text" name="username">
					</div>

					<div class="form-group pull-right" style="width: 48%">
						<label class="control-label" for="trades">Trades</label>
						<select name="trades" multiple>
							<option value="o">Arcanist</option>
							<option value="g">Banker</option>
							<option value="e">Gearsmith</option>
							<option value="d">Rogue</option>
							<option value="r">Warlord</option>
							<option value="v">Universal</option>
						</select>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label class="control-label" for="cards">Contain cards</label>
						<input type="text" id="input-tags" name="cards">
					</div>
				</div>
			</div>
			<submit-button v-ref:submit_button class="btn btn-primary pull-right" text="Search"></submit-button>
		</form>
		
		<div class="row">
			<div class="col-xs-12">
				<table class="table table-hover table-condensed" style="margin: 20px 0 0 0">
					<tbody>
						<tr v-for="deck in decks">
							<td>
								<h4>
									<a v-link="'/deck-builder/' + deck.id">{{ deck.name }}</a>
									<span class="pull-right">{{{ deck.threshold | threshold }}}</span>
								</h4>

								<span class="text-muted pull-left">{{ deck.username }}</span>
								<time class="pull-right" :title="deck.published_at | time 'LLLL'">{{ deck.published_at | time-ago }}</time>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>