<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" v-link="'/'">Spoils Toolbox</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a v-link="'/news'">News</a></li>
				<li><a v-link="'/cards'">Cards</a></li>
				<li><a v-link="'/decks'">Decks</a></li>
				<li><a v-link="'/deck-builder'">Deck Builder</a></li>
				<li><a @click="open('octgn')">OCTGN</a></li>
				<li><a @click="open('contribute')"><strong>Contribute</strong></a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a @click="open('contact')" title="Contact"><span class="fa fa-envelope"></span></a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<span class="glyphicon glyphicon-user" :style="user_icon_style"></span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<template v-if="user.authed">
							<li><a v-link="'/account/settings'"><span class="fa fa-cog"></span> Settings</a></li>
							<li class="nav-divider"></li>
							<li><a id="sign-out-button" @click="sign_out"><span class="fa fa-sign-out"></span> Sign out</a></li>
						</template>
						
						<template v-else>
							<li><a id="sign-in-button" @click="open('signin')"><span class="fa fa-sign-in"></span> Sign in</a></li>
							<li><a id="register-button" @click="open('register')"><span class="fa fa-pencil-square-o"></span> Register</a></li>
						</template>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>

<octgn v-ref:octgn></octgn>
<contribute v-ref:contribute></contribute>
<contact v-ref:contact></contact>
<sign-in v-ref:signin></sign-in>
<register v-ref:register></register>
<confirm v-ref:confirm></confirm>

<router-view transition="fade" transition-mode="out-in" keep-alive></router-view>