<div>
	<img id="cursor-image" class="cursor-image img-rounded" src="/img/transparent.png">

	<div class="col-xs-4 col-xs-offset-2">
		<div class="row">
			<label class="btn btn-primary pull-left">
				<form>
					<input type="file" style="display: none;" accept=".txt,.o8d" @change="import_from_file"><span class="glyphicon glyphicon-import"></span> Import
				</form>
			</label>

			<button class="btn btn-primary pull-left" @click="reset" style="margin: 0 0 0 4px"><span class="glyphicon glyphicon-remove-circle"></span> Reset</button>
			<button class="btn btn-primary pull-right" @click="validate(faction_card, cards)"><span class="glyphicon glyphicon-check"></span> Validate</button>
		</div>

		<div class="row">
			<div id="deck" class="panel panel-default" style="margin: 9px 0 0 0">
				<div class="panel-heading">
					<h3 class="panel-title">Deck ({{ cards_without_faction.length }})</h3>
				</div>
				<table class="table table-hover table-condensed">
					<tbody>
						<tr><th>Faction</th></tr>

						<tr v-for="f in faction">
							<td @mousemove="show_card($event, f.id)" @mouseleave="hide_card">
								{{ f.name }}
								<img src="/img/icons/minus.png" class="minus-icon pull-right" @click="remove_card(f)">
							</td>
						</tr>

						<tr><th>Resources ({{ resources.length }})</th></tr>
						<tr v-for="stack in resources | stack-cards | sort-stacks">
							<td is="card-stack" :stack="stack"></td> 
						</tr>

						<tr><th>Characters ({{ characters.length }})</th></tr>
						<tr v-for="stack in characters | stack-cards | sort-stacks">
							<td is="card-stack" :stack="stack"></td> 
						</tr>

						<tr><th>Tactics ({{ tactics.length }})</th></tr>
						<tr v-for="stack in tactics | stack-cards | sort-stacks">
							<td is="card-stack" :stack="stack"></td> 
						</tr>

						<tr><th>Items ({{ items.length }})</th></tr>
						<tr v-for="stack in items | stack-cards | sort-stacks">
							<td is="card-stack" :stack="stack"></td> 
						</tr>

						<tr><th>Locations ({{ locations.length }})</th></tr>
						<tr v-for="stack in locations | stack-cards | sort-stacks">
							<td is="card-stack" :stack="stack"></td> 
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-xs-4">
		<ul class="nav nav-tabs" role="tablist">
			<li class="active" role="presentation"><a href="#cards" aria-controls="cards" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-plus"></span> Cards</a></li>
			<li role="presentation"><a href="#stats" aria-controls="stats" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-stats"></span> Stats</a></li>
			<li role="presentation"><a href="#save" aria-controls="save" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-save"></span> Save</a></li>
		</ul>

		<div class="tab-content">
			<div id="cards" role="tabpanel" class="tab-pane active">
				<card-search-form projection="extended" :filters="['current']" @result="card_search_result"></card-search-form>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Card List ({{ card_search.length }})</h3>
					</div>

					<table class="table table-hover table-condensed">
						<tr v-for="card in card_search">
							<td @mousemove="show_card($event, card.id)" @mouseleave="hide_card">
								<span>{{{ card.cost | cost }}} {{{ card.threshold | threshold }}}</span>
								{{ card.name }}
								<img src="/img/icons/plus.png" class="plus-icon pull-right" @click="add_card(card)">
								<img src="/img/icons/minus.png" class="minus-icon pull-right" @click="remove_card(card)">
							</td>
						</tr>
					</table>
				</div>
			</div>

			<div id="stats" role="tabpanel" class="tab-pane">
				<div class="panel panel-default">
					<div class="panel-heading"><h3 class="panel-title">Statistics</h3></div>
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-6">
								<div id="cost-chart" class="cost-chart"></div>
							</div>

							<div class="col-xs-6">
								<div id="threshold-chart" class="threshold-chart"></div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-6">
								<div id="trade-chart" class="trade-chart"></div>
							</div>

							<div class="col-xs-6">
								<div id="type-chart" class="type-chart"></div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="save" role="tabpanel" class="tab-pane">
				<form v-el:form id="save-form" @submit.prevent="save_to_database">
					<input type="hidden" v-model="id">

					<div class="form-group">
						<label class="control-label" for="name">Name</label>
						<input validate="deck.name" name="name" type="text" v-model="name" class="form-control">
						<form-error for="name"></form-error>
					</div>

					<submit-button
						v-ref:submit_button
						class="btn btn-primary pull-left"
						:icon="save_icon"
						:text="save_text"
						:title="save_title"
						:disabled="save_disabled">
					</submit-button>
					
					<div class="dropdown pull-left" style="margin: 0 0 0 4px">
						<button id="export-button" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"><span class="glyphicon glyphicon-export"></span> Export <span class="caret"></span></button>
						<ul class="dropdown-menu" aria-labelledby="export-button">
							<li><a @click="export_to_text">Text</a></li>
							<li><a @click="select_starting_resources">OCTGN</a></li>
						</ul>
					</div>
					<div class="dropdown pull-left" style="margin: 0 0 0 4px">
						<button id="print-button" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"><span class="glyphicon glyphicon-print"></span> Print <span class="caret"></span></button>
						<ul class="dropdown-menu" aria-labelledby="print-button">
							<li><a @click="print_proxies">Proxies</a></li>
						</ul>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div id="select-starting-resources-modal" class="modal fade">
		<div class="modal-dialog modal-small">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Select starting resources</h4>
				</div>
				
				<form id="select-starting-resources-form" @submit.prevent="export_to_octgn"> 
					<div class="modal-body">
						<select name="starting-resources" multiple placeholder="Select resources..."></select>
					</div>
					
					<div class="modal-footer">
						<button class="btn btn-primary pull-right">Export</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>