<div class="news center-block">
	<h3>Major update</h3>
	<h5 class="text-muted">Jun 06, 2016</h5>
	<p>Those of you who've been hanging out in the <a target="_blank" href="http://www.theworldsnotes.com/chat/spoils/">Spoils Chat</a> have had a heads up that an update (with some much needed fixes) was around the corner. Internally, the site has gone through an almost complete overhaul; with that in mind expect to find some bugs here and there (especially with handheld devices) :) But don't hesitate to report them (by clicking on the <span class="fa fa-envelope"></span>-icon)! Some changes worth mentioning are:</p>
	<ul>
		<li>The site has been re-architected to a Single Page Application. In practical terms, this means a slightly longer initial load time but increased responsiveness during normal usage. You might for instance notice that no page refreshes occurr when you navigate around.</li>
		<li>The official Spoils game on OCTGN has been forked and updated to include Ungodly Mess. Click on the OCTGN link for more information on how to install it. Note that decks created in the forked version are not compatible with the official version (and vice versa).</li>
		<li>Decks can now be saved on the server and shared more easily. To use this feature, you'll need to sign up for an account.</li>
		<li>The Deck Builder has been slightly redesigned to improve usability. Furthermore:
			<ul>
				<li>Starting Resources has been removed. According to the rules, starting resources are chosen when a game begins and can thus vary between matches. However, OCTGN requires that you choose your starting resources when you build your deck. Thus, upon exporting your deck to OCTGN, you will be prompted to choose your starting resources.</li>
				<li>When printing proxies, you can remove individual cards you don't wish to print simply by clicking on them.</li>
				<li>Added pie chart for card types.</li>
			</ul>
		<li>Ungodly Mess added.</li>
		<li>Some enhancements to the cards search engine:
			<ul>
				<li>Queries containing apostrophes (') will not return a bunch of non-relevant cards (which was the case when searching for e.g <em>Gideon's</em>).</li>
				<li>The name of all abilities are now indexed as well. For instance, searching for <em>nullify</em> will now return "Ashes of Zenobia".</li> 
			</ul>
		</li>
		<li>Ban list updated to include "Remains of Foreman Pete".</li>
		<li>Financial contributions to the project will be much appreciated. Read more about it by clicking on the <strong>Contribute</strong> link. Also, don't forget to follow <a target="_blank" href="https://twitter.com/spoilstoolbox">@spoilstoolbox</a> ;)</li>
	</ul>

	<h3>Minor update</h3>
	<h5 class="text-muted">Jan 11, 2016</h5>
	<ul>
		<li>Updated ban list.</li>
		<li>Special cards (such as cards designed for multiplayer and cards that are not allowed in tournaments) are automatically excluded from the search result when a format filter is selected, unless 'include specials' is selected from the options dropdown.
		<li>Fixed image for the "Legions of Chaos" card.</li>
	</ul>

	<h3>Fixes</h3>
	<h5 class="text-muted">Sep 15, 2015</h5>
	<ul>
		<li>Improvements to the UI in the Deck Builder for touch devices:
			<ul>
				<li>Zooming disabled upon double-tapping.</li>
				<li>Removed card image upon tapping.</li>
				<li>Starting resources can be added by pressing and holding on a staple resource.</li>
				<li>Cards can be removed by swiping on the card.</li>
			</ul>		
		</li>
		<li>Added options to sort the search result by cost, threshold, strength, life, speed and structure.</li>
		<li>Fixed some card images.</li>
	</ul>

	<h3>Seed Saga</h3>
	<h5 class="text-muted">Aug 20, 2015</h5>
	<ul>
		<li>The full Seed Saga set has been added (along with the new art) and is considered Current legal. However decks containing Seed Saga cards will not be playable on OCTGN until the set is officially released there as well.</li>
		<li>The 'Group cards with same name' option has been removed as it is now enabled by default. Only the latest print of a given card is shown unless the 'Include all reprints' options is enabled.</li>
		<li>UI enhancements for the Filters and Options dropdown.</li>
		<li>If a format selected from the Filters dropdown, banned cards from that format are automatically filtered out, unless the 'Include banned cards' option is enabled.</li>
		<li>'Staple' was earlier misclassified as a type and is now correctly classified as a supertype. It has thus been removed from Filters. You can still see all staple resources simply by entering 'staple' (or filtering by 'resource').</li>
		<li>The battle stats from all gear cards has been removed in order to prevent them from getting included in the search result when searching for 'strength = 3' for example.</li>
		<li>Fixed some minor graphical (flickering) issues on page load.</li>
		<li>Updated documentation.</li>
	</ul>

	<h3>Seed Saga (reprints)</h3>
	<h5 class="text-muted">Aug 5, 2015</h5>
	<ul>
		<li>The reprinted cards from <a href="http://thespoilscardgame.com/seed-saga/" target="_blank">Seed Saga</a> has been added. The set is not Current legal yet since it has not been released. But it is possible to combine Seed Saga cards and cards that are Current legal in the same search by selecting the two from the filters drop down.</li>
		<li>The 'Current' format filter is no longer pre-selected on the <a href="/">card search</a> page.</li>
		<li>Fixed an issue where card images in the deck builder got stuck after removing the last copy of a card from the deck.</li>
		<li>It should not longer be possible to make accidental text selections in the deck builder when adding starting resources. (Starting resources are added by holding down the shift-key. This caused earlier some unwanted selections on the page.)</li>
	</ul>

	<h3>Fixes</h3>
	<h5 class="text-muted">May 30, 2015</h5>
	<ul>
		<li><p>Decks can now be exported to BBCode.</p></li>
		<li><p>Starting resources can now be added by shift-clicking on a resource in the deck list. This was previously only possible by shift-clicking on a resource in the card list.</p></li>
		<li><p>Empty card type categories are now excluded when exporting a deck to text.</p></li>
		<li><p>Fixed so only one format can be selected at any given time in the filters list.</p></li>
	</ul>
	<p>I have received feedback regarding being able to choose the file name and destination upon exporting a deck. This is possible by making a simple change in the configuration for your browser.</p>
	<ul>
		<li><p><strong>For Chrome users:</strong> Press the menu button <img src="https://lh4.ggpht.com/IB7eZ2ht1pEixChJA4xp6iejr1xw3rXY_yJNeHgHajBRTzLB0ldIpEFje8gyeB4ydp6xpQpJ=w18-h18"> and click on "Settings". On the bottom of the page, press "Show advanced settings..." and scroll down until you see a "Downloads" section. Tick the checkbox that says "Ask where to save each file before downloading".</p></li>
		<li><p><strong>For Firefox users:</strong> Press the menu button <img src="https://support.cdn.mozilla.net/media/uploads/gallery/images/2014-01-10-13-08-08-f52b8c.png"> and click on "Preferences". In the "General" tab, under the "Downloads" section, tick the checkbox that says "Always ask me where to save files".</p></li>
		<li><p><strong>For Internet Explorer users:</strong> Press the arrow button next to "Save" and choose "Save as" when the download bar appears.</p></li>
	</ul>
	<hr>

	<h3>Deck statistics</h3>
	<h5 class="text-muted">May 19, 2015</h5>
	<p>A deck statistics panel has been added to the <a href="/deck-builder">Deck Builder</a> where you can see a breakdown of the costs, thresholds and trades for your deck.</p>
	<p>Also some minor tweaks here and there based on feedback.</p>
	<hr>

	<h3>Proxies</h3>
	<h5 class="text-muted">May 14, 2015</h5>
	<p>A proxy generator has been added to the <a href="/deck-builder">Deck Builder</a>. Upon clicking on the 'Make Proxies' button, you will be taken to a printer-friendly page of your deck. The faction card and staple resources are automatically excluded from the proxy list.</p>
	<hr>

	<h3>Fixes, changes and upgrades...</h3>
	<h5 class="text-muted">May 11, 2015</h5>
	<p>Changes in this update:</p>
	<ul>
		<li><p>It is not uncommon that cards change when newer prints of them gets released (new keywords are introduced and wordings are altered). To get more consistent search results, all cards have been re-indexed with their true texts instead of their original rules text (which is printed on the card). The true text is displayed (along with other information) upon clicking on the card in the <a href="/">Card Search</a>. They are also available on the official <a href="http://www.spoilsinventory.com">Spoils Inventory</a> site.</p></li>
		<li><p>Cards can be grouped together based on their name by using the 'Options' drop-down menu. Only the latest print of the card will be shown when this option is activated.</p></li>
		<li><p>Price information from all sets are displayed upon clicking on a card in the Card Search.</p></li>
		<li><p>Open Beta set added.</p></li>
		<li><p>Some fixes based on feedback:</p></li>
		<ul>
			<li><p>Threshold costs should now be correct in the <a href="/deck-builder">Deck Builder</a> for cards whose trade differ from their 'threshold cost icons'. (This was an issue for the 'Shade of the Devoured Emperor' card.)</p></li>
			<li><p>Card images that appear when hovering over card names in the Deck Builder are constrained to the screen.</p></li>
		</ul>
	</ul>
	<p>Also, I'd like to point out a distinction between the Card Search and Deck Builder in regards to which cards are presented when a search is issued. To ensure that the deck you create in the Deck Builder is compatible with OCTGN, cards that are not present in 'The Spoils' game for OCTGN are automatically filtered out. For instance, you will not find any cards from the Open Beta set in the Deck Builder, nor any staple resources from Holy Heist (since these cards simply doesn't exist in OCTGN version). However, there is no reason to be worried since all "missing" cards have a corresponding print that is usable (for example, all Open Beta cards has been reprinted in 1st Edition).</p>
	<hr>

	<h3>Holy Heist!!!11one</h3>
	<h5 class="text-muted">April 28, 2015</h5>
	<p>The Holy Heist set has been added. A word of caution though; at the time of this writing, Holy Heist has not been released on OCTGN. This means that decks exported with Holy Heist cards will not be playable on OCTGN. However, it is still possible to export decks to text files.</p>
	<p><strong>Update:</strong> Holy Heist has been officially released on OCTGN, so decks created in the <a href="/deck-builder">Deck Builder</a> from now on should work with OCTGN.</p>
	<hr>

	<h3>Improved card search and deck importing</h3>
	<h5 class="text-muted">April 23, 2015</h5>
	<p>Filtering cards have been made more user friendly with the addition of the drop-down menu where it is possible to easily filter cards based on format (you can read more about them <a href="http://thespoilscardgame.com/organized-play-update/">here</a>), sets, card type, trade and rarity.</p>
	<p>Furthermore it is now possible to import decks into the <a href="/deck-builder">deck builder</a> (that has been previously exported from it) by pressing the 'Import' button.</p>
	<p>Finally, some minor errors were fixed regarding true texts for cards (you should no longer see random question marks).</p>
	<p>If you encounter any problems with the new features, send me a message with the feedback form found in the upper right corner.</p>
	<hr>

	<h3>Card info</h3>
	<h5 class="text-muted">March 17, 2015</h5>
	<p>You can now click on a card in the <a href="/">Card Search</a> page to display more information about the card, e.g the latest card text revision, what editions it has been printed in, format legality and price (on <a href="https://en.spoilscardmarket.eu/">Spoils Cardmarket</a>).</p>
	<p>Also, some minor changes here and there.</p>
	<hr>

	<h3>0p3r4710n 1337 H4x0rz</h3>
	<h5 class="text-muted">February 23, 2015</h5>
	<p>The first version of Spoils Toolbox saw the light of day in summer 2013. The site has improved steadily since then thanks to all the feedback I've received. And it is about time that Spoils Toolbox gets a news section where further improvements will be announced and explained. You can still read about previous updates <a href="http://www.thespoils.com/spoils/showthread.php?11457-Spoils-card-search-engine">here</a>.</p>
	<p>The following changes has been made to the card search functionality:<p>
	<ul>
		<li><p><strong>If a card appears in multiple editions, all prints of that card will be included in the result.</strong> Previously, if the result of a query contained a card that's present in multiple editions, a print of the card was picked from a (seemingly) random edition. This has been changed to a more predictable behaviour. For instance, searching for <em>Ambuscade</em> will yield two cards, one from 2nd Edition and another from 1st Edition (the card from the latest edition is displayed first).</p></li>
		<li><p><strong>All words in the query has to be relevant to the card for it to be included in the result.</strong> Previously, a search for <em>Hidden Sandwich</em> would yield cards that contained either the word <em>Hidden</em> <u>or</u> <em>Sandwich</em>. It has now been changed so all words have to be relevant to the card to be included in the result. This will yield fewer but more relevant cards.</p></li>
		<li><p><strong>Flavor text searching is removed.</strong> The seldom used and somewhat broken feature that allowed you to search for cards based on flavor text has been removed.</p></li>
	</ul>
	<p>Furthermore, the <a href="/deck-builder">Deck Builder</a> has been streamlined and a deck validator has been added. Upon exporting a deck, the validator will notify you if your deck fulfills the requirements to be tournament legal.</p>
	<p>Finally, if you have any suggestions or encounter any problems, drop me a message using the feedback form in the upper right corner.</p>
	<hr>
</div>
