<div v-el:modal id="card-search-help-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">How to use the Toolbox</h4>
			</div>
			<div class="modal-body">
				<p>Searching for cards that match a specific <strong><a data-toggle="tooltip" title="current, chronicles">format</a></strong>, <strong><a data-toggle="tooltip" title="arcanist, banker, gearsmith, rogue, warlord, universal">trade</a></strong>, <strong><a data-toggle="tooltip" title="character, faction, item, location, resource, tactic">type</a></strong>, <strong><a data-toggle="tooltip" title="common, uncommon, rare, uber, fixed, super-rare, ultra-rare">rarity</a></strong> or <strong>set</strong> is done by using the filters dropdown above the search field. If a format is selected, banned cards in that format will get automatically filtered out (unless you select 'Include banned cards' from the options dropdown). Click on the examples below to try them out.</p>
				<p>Costs, thresholds, <strong><a data-toggle="tooltip" title="strength, life, speed">battle stats</a></strong> and structure are specified together with a comparison operator and a numeric value.</p>
				<pre class="cursor-pointer" @click="submit">cost = 10</pre>
				<pre class="cursor-pointer" @click="submit">threshold = 2 strength >= 3 speed = 4</pre>
				<pre class="cursor-pointer" @click="submit">banker location structure >= 3 structure <= 4</pre>
				<p>You can also do a free text search (which is how you probably already use Google). The search engine will list all cards it thinks are relavant to your query taking the name of the card, supertype, subtype and rules text into account when calculating the relevancy. Use quotes to search for a phrase.</p>
				<pre class="cursor-pointer" @click="submit">pluck</pre>
				<pre class="cursor-pointer" @click="submit">"at the start of your turn"</pre>
				<p>Feel free to mix and match your search query as you like.</p>
				<pre class="cursor-pointer" @click="submit">banker item "draw a card" cost >= 3 threshold > 1</pre>
				<p>Some cards contain 1337-speak, e.g <strong>700160x 31f</strong> (Toolbox Elf). The search engine automatically makes your queries 1337-speak compatible. For example, searching for <strong>700160x 31f</strong> or <strong>toolbox elf</strong> will yield the same result.</p>
				<p>It is common that older cards gets reprinted in newer sets. The default is to only include the latest reprint of a given card. If you'd like to see all prints, select 'Include all reprints' from the options dropdown.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Got it!</button>
			</div>
		</div>
	</div>
</div>