<div class="panel panel-default center-block" style="width: 25%">
	<div class="panel-heading">
		<h3 class="panel-title">Set new password</h3>
	</div>
	
	<div class="panel-body">
		<form v-el:form id="set-password-form" method="put" action="/account/password" @submit.prevent="submit">
			<input type="hidden" name="token" v-model="token">
			
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
					<input validate="password" type="password" name="password" class="form-control">
				</div>
				<form-error for="password"></form-error>
			</div>

			<submit-button v-ref:submit_button text="Set password"></submit-button>
		</form>
	</div>
</div>