<div class="col-xs-4 col-xs-offset-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Account settings</h3>
		</div>

		<div class="panel-body">
			<form id="profile-form">
				<legend>Profile</legend>

				<div class="form-group">
					<label class="control-label" for="email">Email</label>
					<div class="input-group">
						<div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
						<input type="text" name="email" class="form-control" value="{{ email }}" disabled>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label" for="username">Username</label>
					<div class="input-group">
						<div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
						<input type="text" name="username" class="form-control" value="{{ username }}" disabled>
					</div>
				</div>
			</form>

			<form v-el:form id="change-password-form" method="patch" action="/account/password" @submit.prevent="submit">
				<legend>Change password</legend>

				<div class="form-group">
					<label class="control-label" for="password">Current password</label>
					<div class="input-group">
						<div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
						<input validate="password" type="password" name="current_password" class="form-control">
					</div>
					<form-error for="current_password"></form-error>
				</div>

				<div class="form-group">
					<label class="control-label" for="password">New password</label>
					<div class="input-group">
						<div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
						<input validate="password" type="password" name="new_password" class="form-control">
					</div>
					<form-error for="new_password"></form-error>
				</div>

				<submit-button v-ref:submit_button text="Change password"></submit-button>
			</form>
		</div>
	</div>
</div>